.article {
  padding: 30px 0 20px;
  display: flex;
  color: #333;
}
.article .content {
  flex: 4;
}
.article .img {
  line-height: 98px;
  flex: 1;
}
.article .ant-divider {
  flex: 0;
}
.article .content>span {
  color: #333;
  font-size: large;
  font-weight: 700;
}
.article .content .watch-info {
  padding: 20px 0 0;
}
